@import "tailwindcss";

@theme {
  --color-brmain: #382C1A;
  --color-brtext: #F7F1E8;
  --color-brsecondary:#5c4035;
  --font-bowlby : "BowlbyOne";
  --font-baskerville : "LibreBaskerville";
}


@font-face {
    src: url("assets/fonts/BowlbyOne-Regular.ttf") format("truetype");
    font-family: "BowlbyOne";
    font-style: normal;
}
@font-face {
    src: url("assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
    font-family: "LibreBaskerville";
    font-style: normal;
}
